# Assignment 1

Q1 Create a List of 20 depth points by taking random floating point values between 0 and 10000.

Q2 Convert each float value in the depth list to integer data type.

Q3 Based on the depth values, Create a dictionary, containing values for two keys "Shallow" and "Deep". Put depths less than 5000 in "Shallow" key ( Multiple values can be combined as tupe,set or list )

Put depths greater than or equal to 5000 in "Deep" key

Q4 Count the Values in each key ( How many depths values are in Shallow & Deep ? )

In [16]:
#Creating a list pf 20 depths between 0 and 10000
depth=[10.5, 200.7, 800, 459.7, 1020.7, 698.3, 5000.4, 6978, 999.99, 1578.78, 6381.5, 9000, 1478, 325.9, 7895.64, 8046, 2647.96,5789, 6974.87, 5010]
print(len(depth)) #shows the length of list
print(depth) #shows the list

20
[10.5, 200.7, 800, 459.7, 1020.7, 698.3, 5000.4, 6978, 999.99, 1578.78, 6381.5, 9000, 1478, 325.9, 7895.64, 8046, 2647.96, 5789, 6974.87, 5010]

In [17]:
#converting the float values into int type
newdep=[]
for i in depth: #running a for loop to access the elements of list individually
  a=int(i) #converting individual elements into int
  newdep.append(a) #appending the converted elements to new list
print(newdep)

[10, 200, 800, 459, 1020, 698, 5000, 6978, 999, 1578, 6381, 9000, 1478, 325, 7895, 8046, 2647, 5789, 6974, 5010]

In [19]:
#Q3
depless=[]
depmore=[]
for i in newdep:
  if i<5000: #check if elements are less than 5000
    depless.append(i) #adding elements to new list
  else: #elements more then or equal to 5000
    depmore.append(i)
depdict=dict(Shallow=depless, Deep=depmore) #converting list to dictionary with proper keys
print(depdict)

{'Shallow': [10, 200, 800, 459, 1020, 698, 999, 1578, 1478, 325, 2647], 'Deep': [5000, 6978, 6381, 9000, 7895, 8046, 5789, 6974, 5010]}

In [29]:
# Q4
print("No. of elements in Shallow = " + str(len(depdict['Shallow'])))
print("No. of elements in Deep = " + str(len(depdict['Deep'])))

No. of elements in Shallow = 11
No. of elements in Deep = 9

# Assignment 2

Define a function to calculate barrels of crude oil per metric ton, given the Specific Gravity = 0.9.

In [34]:
def crude(sg=0.9): #defining function crude and passing argument sg=0.9
  api=(141.5/sg)-131.5 #calculating api
  barrels=(api+131.5)/(141.5*0.159) #calculating barrels of crude oil per metric ton
  return barrels #this returns the required value
crude() #calling our function

6.988120195667366